@charset "UTF-8";

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

/* Geral ====================== */

html { height: 100%; }

body {
	font: normal normal 16px/1.8em 'Brawler', serif;
	color: #000;	
}
	
h1,h2,h3,h4,h5,h6 { font-family: 'Nunito', sans-serif; }

a { text-decoration: none; }

/* Header ====================== */

#header h1 {
	font-weight: normal;
	font-family: 'The Girl Next Door', cursive; 	
}

/* Menu ====================== */

/* Content ====================== */

/* Sidebar ====================== */

/* Footer ====================== */




/* Site em construção ====================== */

body.construcao {
	height: 100%;
	background: url('../img/background-construcao.png') center center repeat-x;	
}

body.construcao #content {
	background: url('../img/construcao.png') center center no-repeat;

	position: absolute;
	top: 50%;
	left: 50%;
	
	width: 1024px;
	height: 386px;
	
	margin: -203px 0 0 -394px;	z-index:1;	
}
.splash {width:357px; height:357px; display: block; background: transparent url(../img/splash.png) no-repeat left top;
	position: absolute;
	top: 50%;
	left: 50%;	
	z-index:0;
	margin: -195px 0 0 -390px;

	-webkit-animation-name: splash;
	-webkit-animation-duration: 25s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
@-webkit-keyframes splash {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(180deg); }
}

body.construcao #content h1, body.construcao #content h2 {
	display: none;
}